<div id="<%= dom_id todo %>">
  <div class="todo-card">
    <div class="todo-card-top">
      <p><%= todo.task %></p>

      <% if todo.done %>
        <%= button_to "âœ“", todo_path(todo), method: :patch, params: { todo: { done: false } }, class: "todo-card-button-done" %>
      <% else %>
        <%= button_to "âœ—", todo_path(todo), method: :patch, params: { todo: { done: true } }, class: "todo-card-button-undone" %>
      <% end %>
    </div>

    <div class="todo-card-footer">
      <p>
        <% if todo.priority == "High" %>
          ðŸ”´
        <% elsif todo.priority == "Medium" %>
          ðŸŸ 
        <% else %>
          ðŸŸ¡
        <% end %>
      </p>

      <div>
        <%= button_to "ðŸ“’", todo_path(todo), method: :get, class: "icon-button" %> 
        <%= button_to "ðŸ–Šï¸", edit_todo_path(todo), method: :get, class: "icon-button" %>
        <%= button_to "ðŸ—‘", todo_path(todo), method: :delete, class: "icon-button" %>
      </div>
    </div>
  </div>
</div>
